name: Build
on:
  workflow_dispatch:
  schedule:
    - cron: "00 23 * * *"
  push:
    branches:
      - master
      - hidden
    paths-ignore:
      - "**/README.md"

jobs:
  delete:
    runs-on: ubuntu-latest
    steps:
      - name: Delete old workflow runs
        uses: Mattraks/delete-workflow-runs@main
        with:
          retain_days: 3
          keep_minimum_runs: 6

  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - { os: freebsd, arch: riscv64 }
          - { os: freebsd, arch: amd64}
          - { os: freebsd, arch: 386 }
          - { os: freebsd, arch: arm64}
    outputs:
      new: ${{ steps.check.outputs.new }}
      version: ${{ steps.check.outputs.version }}

    steps:

      - name: Set variables
        run: |
          latest_version=$(curl -sSL https://api.github.com/repos/MetaCubeX/mihomo/releases/latest | jq -r '.tag_name' | sed 's|v||g')
          echo "RELEASE_NAME=${latest_version}-vincent" >> $GITHUB_ENV
          echo "TAG_NAME=v${latest_version}-vincent" >> $GITHUB_ENV
          echo "tags=with_gvisor" >> $GITHUB_ENV
          echo "version=${latest_version}" >> $GITHUB_ENV
        shell: bash

      - name: Checkout the "hidden" branch
        uses: actions/checkout@v6
        with:
          ref: hidden

      - name: Apply patches
        run: |
          git clone --depth 1 https://github.com/MetaCubeX/sing-tun.git sing-tun
          git clone --depth 1 -b Meta https://github.com/MetaCubeX/mihomo.git mihomo
          ls -lha
          cd sing-tun
          patch -p1 < ../sing-tun.patch
          cp monitor_darwin.go monitor_freebsd.go
          cd ../mihomo
          cp component/memory/memory_freebsd_amd64.go component/memory/memory_freebsd_riscv64.go
          patch -p1 < ../mihomo.patch
          sing_tun_version=$(cat go.mod | grep github.com/metacubex/sing-tun | awk '{ print $2 }')
          echo -e "\nreplace github.com/metacubex/sing-tun ${sing_tun_version} => ../sing-tun" >> go.mod
          git_head=$(git rev-parse --short HEAD)

      - name: Check for new version
        id: check
        run: |
          if [ -f last_version ]; then
            LAST_VERSION=$(cat last_version)
          else
            LAST_VERSION="none"
          fi
          echo "Last version: ${LAST_VERSION}, current version: ${{ env.version }}"
          if [ "${{ env.version }}" != "${LAST_VERSION}" ]; then
            echo "${{ env.version }}" > last_version
            echo "new=true" >> $GITHUB_ENV
            echo "new=true" >> $GITHUB_OUTPUT
          else
            echo "new=false" >> $GITHUB_ENV
            echo "new=false" >> $GITHUB_OUTPUT
          fi
          echo "version=${version}" >> $GITHUB_OUTPUT

      - name: Setup Go
        if: github.event_name != 'schedule' || env.new == 'true'
        uses: actions/setup-go@v6
        with:
          go-version: 'stable'

      - name: Cache go dependencies
        if: github.event_name != 'schedule' || env.new == 'true'
        uses: actions/cache@v4
        with:
          path: |
            ~/go/pkg/mod
          key: go-${{ hashFiles('**/go.sum') }}

      - name: Cache go build
        if: github.event_name != 'schedule'
        uses: actions/cache@v4
        with:
          path: |
            ~/.cache/go-build
          key: go-${{ hashFiles('**/go.sum') }}-${{ matrix.os }}-${{ matrix.arch }}

      - name: Build binary file
        if: github.event_name != 'schedule' || env.new == 'true'
        run: |
          cd mihomo
          go build -v -tags ${tags} -trimpath -ldflags '-X "github.com/metacubex/mihomo/constant.Version=${{ env.RELEASE_NAME }}" -X "github.com/metacubex/mihomo/constant.BuildTime=none" -w -s -buildid=' -o mihomo
          mv mihomo mihomo-${{ matrix.os }}-${{ matrix.arch }}
        env:
          GOOS: ${{ matrix.os }}
          GOARCH: ${{ matrix.arch }}
          CGO_ENABLED: 0

      - name: Compress and move file to publish directory
        if: github.event_name == 'schedule' && env.new == 'true'
        run: |
          cd mihomo
          xz -v mihomo-${{ matrix.os }}-${{ matrix.arch }}
          mkdir -p ../publish
          cp -v mihomo-* ../publish/

      - name: Release and upload assets
        if: github.event_name == 'schedule' && env.new == 'true'
        uses: softprops/action-gh-release@v2
        with:
          name: ${{ env.RELEASE_NAME }}
          tag_name: ${{ env.TAG_NAME }}
          draft: false
          prerelease: false
          files: |
            ./publish/*
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  push:
    runs-on: ubuntu-latest
    if: github.event_name == 'schedule' && needs.build.outputs.new == 'true'
    needs:
      - build
    steps:
      - name: Checkout the "hidden" branch
        uses: actions/checkout@v6
        with:
          ref: hidden

      - name: Update last_version
        run: |
          echo "${{ needs.build.outputs.version }}" > last_version

      - name: Push last_version to "hidden" branch
        run: |
          git config --local user.name "Vincent Loeng"
          git config --local user.email "173226116+Vincent-Loeng@users.noreply.github.com"
          git add last_version
          git commit -m "Release ${{ needs.build.outputs.version }}"
          git push
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
